<div class="header" id="header">
  <div class="avatar-header">
    <app-player-avatar [parent]="'header'"></app-player-avatar>
  </div>
    <div class="pname-text">
        <div id="playerName">
            <p>Hi {{pName}}!</p>
        </div>
    </div>
    <div class="playerStats">
      <div class="level">
        <p>Level:</p>
        <p id="pLevel">1</p>
      </div>
      <div class="progress">
        <progress id="plProgress" value="0" min="0" max="100"></progress>
      </div>
      <div class="points">
        <p>Points: </p>
        <p id="tpPoints">0</p>
      </div>
    </div>
    <div class="button-break">
      <div class="buttons">
          <!-- <div class="button-inner">
              <button class="menu-button button" (click)="menuClick()">Menu</button>
          </div> -->
          <div class="button-inner">
              <button class="play-button button" (click)="playClick()">Play</button>
          </div>
          <div class="button-inner">
              <button class="store-button button" (click)="storeClick()">Store</button>
          </div>
      </div>
    </div>
</div>
