/* You can add global styles to this file, and also import other style files */
footer {
  text-align: right;
  font-size: large;
}

html, body { height: 100%; }
body { margin: 2.5%;   font-family: 'Comic Sans MS', cursive;}
button {font-family: 'Comic Sans MS', cursive;}

#avatar{
  width: 100px;
  height: 100px;
  animation: blink 1s infinite;
}
