/* You can add global styles to this file, and also import other style files */
footer {
  text-align: right;
  font-size: large;
}

html, body { height: 100%; }
body { margin: 2.5%;   font-family: 'Comic Sans MS', cursive;}
button {
  font-family: 'Comic Sans MS', cursive;
  cursor: pointer;
  padding: 5px 10px;
  margin: 1%;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  background-color: #f77f00; /* orange */
}

button:hover {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
}

button:active{
  color: #a0a0a0;
  background-color: #a75600; /* orange */
  box-shadow: none;
}

#avatar{
  width: 100px;
  height: 100px;
  animation: blink 1s infinite;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 650px;
  height: 100px;
  background-color: white;
  margin-bottom: 4px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 50px;

}

.card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.card h2 {
  font-size: 18px;
  color: #3385ff;
  margin-bottom: 10px;
}

.card p {
  font-size: 12px;
  line-height: 1.5;
}

.card h2, .card p, .card_results_display, .title{
  font-family: 'Comic Sans MS', cursive;
}

#ReQuestion{
  margin-left: 50px;
}

#queryString{
  margin-left: 120px;
}

button.over {
  opacity: 0.4;
  background-color:lightsalmon;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
