<div class="instructions">
    <main>
      <h1>Customize your Avatar!</h1>
      <section>
        <p>Use you points to unlock any of the accessories below</p>
        <img class="img2" src="/assets/img1.gif" alt="Question Mark">
        <table class="table">
            <tr>
              <th>Hat</th>
              <th>Glasses</th>
              <th>Nose</th>
            </tr>
            <tr>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/hat1.png" alt="Question Mark"></button></td>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/sunglasses2.png" alt="Question Mark"></button></td>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/nose2.png" alt="Question Mark"></button></td>
            </tr>
            <tr>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/hat2.png" alt="Question Mark"></button></td>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/sunglasses3.png" alt="Question Mark"></button></td>
              <td><button id="cutom-button1"><img class="img" src="/assets/customize/nose1.png" alt="Question Mark"></button></td>
            </tr>
            <tr>
                <td><button id="cutom-button1"><img class="img" src="/assets/customize/hat3.png" alt="Question Mark"></button></td>
                <td><button id="cutom-button1"><img class="img" src="/assets/customize/sunglasses.png" alt="Question Mark"></button></td>
                <td><button id="cutom-button1"><img class="img" src="/assets/customize/nose3.png" alt="Question Mark"></button></td>
              </tr>
          </table>
        <button id="goback-button" type="Go Back" (click)="toResult()">Back to Results</button>
      </section>
    </main>
  </div>