<div id="playerName">
  <p>Current Player: {{playerName}}</p>
</div>
<div id="chooseCat">
  <p>Select a Category: </p>
</div>
<div id="Categories">
  <div class="animal">
    <button mat-raised-button color="primary">Animal</button>
  </div>
  <div class="superhero">
    <button mat-raised-button color="primary">Superhero</button>
  </div>
  <div class="science">
    <button mat-raised-button color="primary">Science</button>
  </div>
  <div class="sports">
    <button mat-raised-button color="primary">Sports</button>
  </div>
</div>
