<div id="playerName">
  <p>Hi {{pName}}!</p>
</div>
<div id="chooseCat">
  <!--<p id="avatar">avatar goes here</p>-->
  <img id="avatar" src="/assets/customize/avatar-base.png" alt="Question Mark">
  <p id="select">Select a Category </p>
</div>
<div id="categories">
  <div class="aniSup">
    <button id="Ani" (click)="changeCat('Animal')">Animal</button>
    <button id="Sup" (click)="changeCat('Superhero')">Superhero</button>
  </div>
  <div class="sciSpo">
    <button id="Sci" (click)="changeCat('Science')">Science</button>
    <button id="Spo" (click)="changeCat('Sports')">Sports</button>
  </div>
  <!--<div>
    <span>{{chosenCat}}</span>
  </div>-->
</div>
<!--
<footer>2</footer>
-->
