<div id="chooseCat">
  <img id="avatar" [src]="image" alt="Question Mark">
  <div class="speech">Can you help me find...</div>
  <div id="questionDiv">
    <p id="que">placeholder</p>
  </div>
    <!-- <p id="score"></p> -->
    <div id="queryBox">
        <input
        id="input"
        type="text"
        placeholder="Enter Search Query Here"
        autocapitalize="off"
        autocomplete="on"
        autocorrect="off"
        autofocus="true"
        #searchInput
        (input)="onInput()"
        >
        <input type="button" id="BackButton" (click)="submit()" value="Submit">
        <input type="button" class="hint" id="BackButton" (click)="hint()" value="Hint">
        <input type="button" class="check" id="BackButton" (click)="check()" value="Check my Search">
        <input type="button" class="clear" id="BackButton" (click)="clear()" value="Clear Input">
        <!--Spell Checker Overlay-->
        <div id="underneath-div" class="underneath-div">
          <app-query-word
          *ngFor="let word of splitWords; let i=index;"
          [word]="word"
          [dictionary]="dictionary"
          [showSuggestions]="showSuggestions"
          [position]="i"
          [currentSize]="splitWords.length"
          ></app-query-word>
        </div>
    </div>
    <div id="feedback">
      <p id="feedbackText"></p>
    </div>
    <button id="BackButton" (click)="back()">Back to Menu</button>
</div>
