<h1>{{currCat}}</h1>
<div id="chooseCat">
  <!--<p id="avatar">avatar goes here</p>-->
  <img id="avatar" src="/assets/customize/avatar-base.png" alt="Question Mark">
  <p id="question">Placeholder Question</p>
</div>
<div id="queryBox">
  <!--<input id="input" type="text" disabled>-->
</div>
<div id="instruct">
  <p>Use the words below to fill in the search bar!</p>
</div>
<div id="kwordBank">
  <p>Word Bank</p>
  <div id="kwords">

  </div>
  <div id="submit">
    <button (click)="onEnter()">Enter -></button>
  </div>
</div>

<button (click)="toCatSelect()" id="BackButton">< Back</button>

<button (click)="toCatSelect()" id="changeQuestionButton">Change question</button>
