h1 {
  font-size: 35pt;
}

#chooseCat {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  text-align: center;
}

#chooseCat p {
  display: inline;
  word-wrap: break-word;
  font-size: 25px;
}

#queryBox {
  width: 60%;
  height: 6%;
  background-color: #f7c187;
  border: 2px solid;
  border-color: #f77f00;
  margin-left: 20%;
  margin-right: 20%;
}

#instruct p {
  margin-left: 15%;
  font-size: 20px;
}

#kwordBank {
  margin-left: 15%;
  margin-right: 15%;
  width: 75%;
  height: 30%;
  background-color: #f7c187;
  border: 2px solid;
  border-color: #f77f00;
}

#kwordBank p {
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
}

#kwords {
  text-align: center;
}

#submit{
  margin-left: 90%;
  margin-top: 5%;
}

#submit2{
  transform: translateX(1000%);
  padding: 10px 20px;
  position: absolute; 
  background-color: #08892f;
}

#changeQuestionButton{
  transform: translateX(300%);
  padding: 10px 20px;
  position: absolute;
  background-color: #08892f;
}

#BackButton{
  padding: 10px 20px;
  position: absolute;
  background-color: #08892f;
}
