/*Global Avatar Styling*/
.avatarPart{
  top:0%;
  left:0%;
  background: transparent;
  animation: blink 1s infinite;
  position:absolute;
}
.aBody{
  z-index: 0;
}
.aGlass{
  z-index: 1;
}
.aHat{
  z-index: 3;
}
.aNose{
  z-index: 2;
}

/* Customization Screen Avatar */
.avatar-body-custom{
  transform: scale(.4);
}

.avatar-hat-custom{
  top:-1%;
  transform: scale(.4);
}

.avatar-nose-custom{
  transform: scale(.4);
}

.avatar-glasses-custom{
  transform: scale(.4);
}

/* Menu Avatar */
.menuAvatar{
  position:relative;
  width: inherit;
  height: inherit;
  left: 35%;
  /*background-color: blue;*/
}
.avatar-body-menu{
  transform: scale(.5);
}
.avatar-hat-menu{
  transform: scale(.5);
}
.avatar-nose-menu{
  transform: scale(.5);
}
.avatar-glasses-menu{
  transform: scale(.5);
}

/* Play Avatar */
.playAvatar{
  position: absolute;
  left:35%;
  top:-10%;
  padding: 2.5%;
}
.avatar-body-play{
  transform: scale(.4);
}
.avatar-hat-play{
  top:-15%;
  transform: scale(.4);
}
.avatar-nose-play{
  transform: scale(.4);
}
.avatar-glasses-play{
  transform: scale(.4);
}

#avatar{
  height: 100%;
  width: 100%;
}
