<div
[class.menuAvatar]="parent=='menu'"
[class.headerAvatar]="parent=='header'"
[class.customAvatar]="parent=='custom'"
[class.playAvatar]="parent=='play'" class="avatar" id="avatar">
  <img id="avatar-body"
  [class.avatar-body-custom]="parent=='custom'"
  [class.avatar-body-header]="parent=='header'"
  [class.avatar-body-menu]="parent=='menu'"
  [class.avatar-body-play]="parent=='play'"
  class="avatarPart aBody" [src]="bodyImage">
  <div class="glasses">
    <img id="avatar-glasses"
    [class.avatar-glasses-custom]="parent=='custom'"
    [class.avatar-glasses-header]="parent=='header'"
    [class.avatar-glasses-menu]="parent=='menu'"
    [class.avatar-glasses-play]="parent=='play'"
    class="avatarPart aGlass" [src]="glassesImage">
    <div class="nose">
      <img id="avatar-nose"
      [class.avatar-nose-custom]="parent=='custom'"
      [class.avatar-nose-header]="parent=='header'"
      [class.avatar-nose-menu]="parent=='menu'"
      [class.avatar-nose-play]="parent=='play'"
      class="avatarPart aNose" [src]="noseImage">
      <div class="hat">
        <img id="avatar-hat"
        [class.avatar-hat-custom]="parent=='custom'"
        [class.avatar-hat-header]="parent=='header'"
        [class.avatar-hat-menu]="parent=='menu'"
        [class.avatar-hat-play]="parent=='play'"
        class="avatarPart aHat" [src]="hatImage">
      </div>
    </div>
  </div>
</div>
<!--
<button (click)="changeHat(-1)">Change Hat</button>
<button (click)="changeNose(-1)">Change Nose</button>
<button (click)="changeGlasses(-1)">Change Glasses</button>
-->
