<!-- <app-header></app-header> -->
<div class="center">
  <div class="question-mark avatar">
    <h3 class="call-to-action speech">Please, come help me learn to search.</h3>
    <img [src]="image" alt="Question Mark">
  </div>
  <h1 class="title">Ready,</h1>
  <h1 class="title">SET,</h1>
  <h2 class="sub-title">(Search Engine Tutorial)</h2>
  <mat-form-field class="name-field" [hideRequiredMarker]="true">
    <input id="name" matInput placeholder="Enter Your Name" required>
    <!-- <input id="name" type="text" name="Name" placeholder="Enter Your Name" required=""> -->
  </mat-form-field>
  <div class="buttons">
    <button id="go-button" class="start-button" type="submit" (click)="toCatSelect()">Go</button>
    <!-- <button id="login" (click)="loginClicked()">Login</button> -->
  </div>
  <!-- <input id="password" type="password" name="pword" placeholder="Enter Your Password"> -->
</div>
