h1, h2, h3 {
  text-align: center;
  color: #f77f00; /* orange */
  font-family: 'Comic Sans MS', cursive;
}
h1 {
  font-size: 50px;
  margin-bottom: 10px;
}
.title {
  font-size: 60pt;
  margin-bottom: 2%;
  margin-top: 2%;
}

.sub-title {
  font-size: 20pt;
}
main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.name-field {
  width: 20%;
  font-family: 'Comic Sans MS', cursive;
  font-size: 30px;
}

input {
  width: 95%;
  display: block;
  /* margin: 0 auto; */
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: 'Comic Sans MS', cursive;
  font-size: 30px;
  background-color: #e6f2f2;
}
#go-button {
  width: 100%;
  padding: 10px 20px;
  border: solid;
  border-radius: 5px;
  font-size: 60pt;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  color: #fff;
  background-color: #f77f00; /* orange */
  cursor: pointer;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);
}

#go-button:hover{
  box-shadow:none;
}

#login {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  color: #fff;
  background-color: #f77f00; /* orange */
  cursor: pointer;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.2);

}

.buttons {
  display: flex;
  width: 20%;
  height: 15%;
}
#instructions-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive;
  color: #fff;
  background-color: #f77f00; /* orange */
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
}
.question-mark {
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
}

.question-mark img {
  width: 250px;
  height: 250px;
  animation: blink 1s infinite;
}

#password{
  visibility: hidden;
}

        /* Creating a box with a text
           and some stylings  */
           .speech {
            top: 15%;
            height: 40%;
            width: 30%;
            background: #f77f00;
            padding: 30px;
            text-align: center;
            font-size: 30px;
            border-radius: 35px;
            color: white;
            /* margin-left:20%; */
            position: relative;
        }

        /* Creates triangular tip on the
           end, for our speech bubble
           with some styling */
  .speech:before {
            content: "";
            position: absolute;
            border-left: 20px solid #f77f00;
            border-right: 20px solid transparent;
            border-top: 20px solid #f77f00;
            border-bottom: 20px solid transparent;
            right: -20px;
            top: 50%;
        }
