<app-header></app-header>
<div class="center">
  <h1>SET</h1>
  <div class="question-mark">
    <img [src]="image" alt="Question Mark">
  </div>
  <h3>Can you help me in searching this query???</h3>
  <input id="name" type="text" name="Name" placeholder="Enter Your Name" required="">
  <div class="buttons">
    <button id="go-button" class="start-button" type="submit" (click)="toCatSelect()">Go!!!</button>
    <!-- <button id="login" (click)="loginClicked()">Login</button> -->
  </div>
  <!-- <input id="password" type="password" name="pword" placeholder="Enter Your Password"> -->
</div>
