<div class="instructions">
  <main>
    <h1>How to Play???</h1>
    <section>
      <p>Welcome to the game! Here's how to play:</p>
      <ol>
        <li>Enter the game by clicking on the GO button.</li>
        <li>Select a category from the list of available categories.</li>
        <li>Read the keywords provided and choose the words you think are the best fit.</li>
        <li>Click the "Enter" button to search for your selected keywords.</li>
        <li>View the search results page and see how you did!</li>
        <li>.....................</li>
      </ol>
      <button id="goback-button" type="Go Back" (click)="goBack()">GO BACK!!!</button>
    </section>
  </main>
</div>
