<div class="instructions">
  <main>
    <h1>How to Play</h1>
    <section>
      <p>Welcome to the game! Frogbert has trouble forming search queries, can you help them?</p>
      <ol>
        <li>Enter the search query creator by clicking on the PLAY button.</li>
        <li>Frogbert will ask you to help them form a query for a specific question.</li>
        <li>Try your best to form a search query that Frogbert can use.</li>
        <li>You'll be given points based on how good your query is!</li>
        <li>You can use the points you've won to unlock things for Frogbert to wear!</li>
        <li>You may even level up when you get points!</li>
        <li>There are some tools to help you form your queries...</li>
        <li>Use the HINT and CHECK MY SEARCH buttons to help you form better queries!</li>
        <li>Be careful though! As you level up, these buttons will start to take points when used!</li>
        <li>They may even dissappear when you're a high enough level!</li>
      </ol>
      <button id="goback-button" type="Go Back" (click)="goBack()">Start Game</button>
    </section>
  </main>
</div>
